<%-  include ('partials/navbar.ejs'); %>
<%-  include ('partials/header.ejs'); %>
    <h1>Pedidos</h1>
    <%pedidos.forEach((pedidos)=>{%>
        
        Produto: <%= pedidos.produto %> <br>
        Valor: <%= pedidos.valor %> <br>
        <%})%>
   
   
   
    <table border="1">
    <tr>
        <th>Produtos</th>
        <th>Valor</th>
    </tr>
    <%pedidos.forEach((pedidos)=>{%>
        <tr>
        <td><h6> Produto:<%= pedidos.produto%>  </h6></td>
        <td><h6> <%= pedidos.valor%>  </h6></td>
    </tr>
        <%})%>
   </table>
   <%-  include ('partials/footer.ejs'); %>